.chatInfor{
    height: 50px;
    background-color: #5d5b8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}

.chatImages{
    height: 24px;
    cursor: pointer;
}